* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.text-center {
    text-align: center;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

hr {
    height: 2px;
    background: orange;
    margin: 1%;
}

.App {
    width: 32%;
    margin: 2% auto;
    padding: 1%;
    box-shadow: 0 0 6px rgb(9, 84, 176);
    background: rgb(57, 134, 165);
}

                /* Header */

.header-container {
    margin: 1%;
}


                /* Balance  */

.balance-box {
    margin: 2%;
}



                /* INCOME EXPENSE */

.IncomeExpense-box {
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
    background: white;
    box-shadow: 0 0 6px rgb(9, 84, 176);
}

.income {
    color: green;
}

.vertical-line {
    display: inline-block;
    border-left: 4px solid rgb(239, 95, 5);
    margin: 0 10px;
    height: 40px;
    border-radius: 10px;
}

.expense {
    color: red;
}

                /* Transaction history */

.transHistory-box {
    margin: 2%;
}

.transaction{
    margin: 1%;
    background: rgb(251, 251, 251);
    padding: 1%;
    border: none;
    box-shadow: 0 0 2px rgb(94, 13, 66);
    position: relative;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}
.btn{
    background: transparent;
    border: none;
    color: black;
    font-size: 15px;
    font-weight: bolder;
    display: none;
}
.DelBtn{
    position: absolute;
    top: 0;
    right: 1px;
}

.EditBtn{
    position: absolute;
    top: 1px;
    left: 1px;
}

.DelBtn:hover, .EditBtn:hover{
    cursor: pointer;
    color: rgb(255, 0, 0);
}
.transaction:hover .DelBtn, .transaction:hover .EditBtn{
    display: initial;
    transition: 0.3s;
}

                /* classes for changing color of income and expense */
.green{
    color: green;
}

.red{
    color: red;
}


                /* Add transactions */

.AddTransaction-box{
    margin: 2%;
}

input{
    width: 100%;
    height: 30px;
    margin: 1% 2%;
    background: rgb(224, 154, 42);
    border: 1px solid orangered;
    border-radius: 6px;
    color: white;
}
form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.addBtn{
    width: fit-content;
    padding: 2%;
    border-radius: 5px;
    background: rgb(243, 146, 0);
    color: white;
    font-weight: bold;
    margin: auto;
    font-size: 100%;
    border: none;
    box-shadow: 0 0 3px orangered;
    transition: 0.4s;
}
.addBtn:hover{
    background: white;
    color: orange;
    transition: 0.4s;
    cursor: pointer;
}


                /* Edit pop up box  */
.wrapperPopUp{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(3, 76, 95);
    transition: 1s;
    opacity: 0.9;
    z-index: 12;
}
.editPopBox{
    width: 34%;
    height: 30%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    background: rgb(8, 183, 203);
    box-shadow: 2px 2px 10px 1px rgb(10, 100, 179);
    border-radius: 20px;
    transition: 1s;
    animation: popUp 1s;
}
form{
    margin: 0;
}

@keyframes popUp {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

/* media queries */

@media screen and (max-width: 768px){
    .App{
        width: 60%;
    }
}
@media screen and (max-width: 425px){
    .App{
        width: 75%;
    }

    .editPopBox{
        width: 45%;
        height: fit-content;
    }
}